@charset "utf-8";
body{
	background-color: white;
	margin: 0px;
	padding: 0px;
}
h1{
	text-align: center;
}
.princial{
	width: 100%;
	margin: 0px auto;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.heder{
    background-color: darkblue;
    height: 143px;
    box-sizing: border-box;
    padding-left: 33px;
}
.logo{
	
    padding: 2px;
    margin: 0px;
}
.sidebad{
	margin-right: 30px
    width: 300px;
    height: 1000px;
    float: left;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 18px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-left: 5px solid #EA9D00;
    border-right-radius: 5px solid #EA9D00;
	border-bottom: 5px solid #EA9D00;
}
.honor{
	width: 100px;
	height: 100px;
}


   
.seccion{
    background-color: aliceblue;
    width: 880px;
    float: right;
    padding: 20px;
    border-top: 5px solid #FF9800;

}
.secpein .contenerdor.seccion {
    padding-left: 10px;
}

.footer{
	clear: both;
	width: 100%;
	height: 50px;
	background-color: midnightblue;
	text-align: center;
	color: aliceblue;
	font-style: italic;
	padding: 5px;
}
.nombre{
    text-align: left;
    font-size: 25px;
    margin-left: 51px;
    margin-top: -35px;
    margin-bottom: 34px;
}
.correo{
    text-align: right;
    font-size: 27px;
    margin-top: -71px;
    margin-right: 50px;
}
.iconos{
    margin-top: 6px;
}
h1,h2,h3{
	color: darkblue;
	font-weight: normal;
}
h3{
font-size: 22px;
}
.sidebad ul{
margin: 0px 0px 15px 15px;
padding: 0px;
list-style-type: none;
background-color: aliceblue;
}
#MENU a{
	background-color:darkblue;
	color: white;
	display: block;
	padding: 6px;
	border: 1px solid black;
	text-decoration: none;
	text-align: center;
}
#MENU a:hover{
	background-color:orange;
	color: white;
}
.imagen{
	float:left;
	margin: 15px;
}
.sidebad h3{
	text-align: center;
}
.texto {
    padding-right: 50px;
    float: left;
	
}
.imagenmenu{
    text-align: center;
    align-content: center;
    border: 3px solid #EDB83E;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
	width:190px;
	height: 129px;
}
.princial .seccion .imagen {
    border: 5px solid #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebad{
    background-color: aliceblue;
    width: 250px;
    height: 700px;
    text-align: center;
    padding-bottom: 45px;
    border-right: 5px solid #EA9D00;
    border-top: 5px solid #EA9D00;
}

.contenedor
{
    max-width: 120rem; /* 1200px */
    margin: 0 auto 0 auto; /* Los numeros van mediante las manecillas de reloj, arriba, derecha, abajo, izquierda. o puede ser de esta forma: margin: 0 auto; y funciona totalmente igual*/
	height: 200px;
	
	
	
}

.site-hearder.inicio /* Estilos a las dos clases */
{
    background-image: url( "portada.jpg");
    height: 100vh; /* la imagen ocupa el 100% del dispositivo donde se vea */
    min-height: 600px;
    background-position: centro centro; /* pone la imagen del centro hacia afuera*/
    background-size: cover; /* forza a la imagen a utilizar el espacio desponible guardando proporcionalidad */
}

.site-hearder{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.contenido-header  
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header  h1
{
    color: lavender;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 54px;
}

.navegacion a
{
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-right: 80px;
    padding-bottom: 104px;   
}

.navegacion a:last-of-type   /* se selecciona el ultimo elemento*/
{
   margin: 0px;
}

.navegacion a:hover
{
    color: mediumaquamarine;
	
}


.secpein{
    width: 1200px;
    margin: 0px auto;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    height: 900px;
}

.imgprin{
	padding: 20px;
}
.imagen-contacto
{
    height: 200px;
	width: 200px;
	text-align: center;
}

.contenido-contacto
{
  height: 200px; /* factor de crecimiento */
    color: burlywood;
	background-image: url("2020100221150345741.jpg");
}
.contenido-contacto p
{
    font-size: 1.8rem;
}
.contenedorcontenido-contacto{
    width: 8px;
    height: 30px;
    
}
.boton
{
    color: #ffffff;
   
    font-size: 1.8rem;
    padding: 0.5rem 3rem;
    margin-top: 3rem;
    text-align: center;
    
}

.boton-amarillo
{
    background-color: #E08709;
	text-align: center;
	align-content: center;
	margin-left: 80px;
	margin-right: 80px;
	
}

.boton-verde
{
    background-color: #71b100;
}
.tex{
    padding: 30px;
    color: black;
}
.seccion.imagen-contacto.seccion{
	height: 400px;
	width: 100%;
}

.fw-300
{
    font-weight: 300;
	text-align: center;
	align-content: center;
}

.centrar-texto
{
    text-align: center;
	align-content: center;
}

/* GLOBALES */

.contenedor
{
    max-width: 120rem; /* 1200px */
    margin: 0 auto 0 auto; /* Los numeros van mediante las manecillas de reloj, arriba, derecha, abajo, izquierda. o puede ser de esta forma: margin: 0 auto; y funciona totalmente igual*/
}
.iconos-nosotros
{
    display: flex;
    justify-content: space-between;
    text-align: center;
	 }

.icono
{
    flex-basis: calc(33.3% - 2rem); /* estamos estableciendo una base de tamaño */
}

.icono h3
{
    text-transform: uppercase;
}
.escuela1{
	color:darkorange;
	font-style: italic;
}
.titulo{
	text-align: center;
}


















carrucel
.carrucel{

}

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 76px;
			}

			.slide-inner {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: calc( 500px + 3em);
			}

			.slide-open:checked + .slide-item {
				position: static;
				opacity: 100;
			}

			.slide-item {
				position: absolute;
				opacity: 0;
				-webkit-transition: opacity 0.6s ease-out;
				transition: opacity 0.6s ease-out;
			}

			.slide-item img {
				display: block;
				height: auto;
				max-width: 100%;
			}

			.slide-control {
				background: rgba(0, 0, 0, 0.28);
				border-radius: 50%;
				color: #fff;
				cursor: pointer;
				display: none;
				font-size: 40px;
				height: 40px;
				line-height: 35px;
				position: absolute;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				cursor: pointer;
				-ms-transform: translate(0, -50%);
				transform: translate(0, -50%);
				text-align: center;
				width: 40px;
				z-index: 10;
			}

			.slide-control.prev {
				left: 2%;
			}

			.slide-control.next {
				right: 2%;
			}

			.slide-control:hover {
				background: rgba(0, 0, 0, 0.8);
				color: #aaaaaa;
			}

			#slide-1:checked ~ .control-1,
			#slide-2:checked ~ .control-2,
			#slide-3:checked ~ .control-3 {
				display: block;
			}

			.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 21px;
    left: 0px;
    right: 0;
    text-align: center;
    z-index: 10;
			}

			.slide-indicador li {
				display: inline-block;
				margin: 0 5px;
			}

			.slide-circulo {
				color: #828282;
				cursor: pointer;
				display: block;
				font-size: 35px;
			}

			.slide-circulo:hover {
				color: #aaaaaa;
			}

			#slide-1:checked ~ .control-1 ~ .slide-indicador 
			 	li:nth-child(1) .slide-circulo,
			#slide-2:checked ~ .control-2 ~ .slide-indicador 
			 	 li:nth-child(2) .slide-circulo,
			#slide-3:checked ~ .control-3 ~ .slide-indicador 
			 	 li:nth-child(3) .slide-circulo {
				color: #428bca;
			}

			#titulo {
				width: 100%;
				position: absolute;
				padding: 0px;
				margin: 0px auto;
				text-align: center;
				font-size: 27px;
				color: rgba(255, 255, 255, 1);
				font-family: 'Open Sans', sans-serif;
				z-index: 9999;
				text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
			 	    -1px 0px 2px rgba(255, 255, 255, 0);
			}
