@charset "utf-8";
body{
	background-color: white;
	margin: 0px;
	padding: 0px;
}
h1{
	text-align: center;
}
.princial{
	width: 100%;
	margin: 0px auto;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.heder{
    background-color: darkblue;
    height: 143px;
    box-sizing: border-box;
    padding-left: 33px;
}
.logo{
	
    padding: 2px;
    margin: 0px;
}
.sidebad{
    width: 300px;
    float: left;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 18px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-left: 5px solid #EA9D00;
    border-right-radius: 5px solid #EA9D00;
}

   
.seccion{
    background-color: aliceblue;
    width: 898px;
    float: right;
    padding: 10px;
    border-top: 5px solid #FF9800;
}
.footer{
	clear: both;
	width: 100%;
	height: 50px;
	background-color: midnightblue;
	text-align: center;
	color: aliceblue;
	font-style: italic;
	padding: 5px;
}
.nombre{
    text-align: left;
    font-size: 25px;
    margin-left: 51px;
    margin-top: -35px;
    margin-bottom: 34px;
}
.correo{
    text-align: right;
    font-size: 27px;
    margin-top: -71px;
    margin-right: 50px;
}
.iconos{
    margin-top: 6px;
}
h1,h2,h3{
	color: darkblue;
	font-weight: normal;
}
h3{
font-size: 22px;
}
.sidebad ul{
margin: 0px 0px 15px 15px;
padding: 0px;
list-style-type: none;
background-color: aliceblue;
}
#MENU a{
	background-color: #729CFF;
	color: white;
	display: block;
	padding: 6px;
	border: 1px solid black;
	text-decoration: none;
	text-align: center;
}
#MENU a:hover{
	background-color:blue;
	color: white;
}
.imagen{
	float:left;
	margin: 15px;
}
.sidebad h3{
	text-align: center;
}
.texto {
    padding-right: 50px;
    float: left;
	
}
.imagenmenu{
    text-align: center;
    align-content: center;
    border: 3px solid #EDB83E;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
	width:190px;
	height: 129px;
}
.princial .seccion .imagen {
    border: 5px solid #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebad{
    background-color: aliceblue;
    width: 250px;
    height: 750px;
    text-align: center;
    padding-bottom: 45px;
    border-right: 5px solid #EA9D00;
    border-top: 5px solid #EA9D00;
}

.contenedor
{
    max-width: 120rem; /* 1200px */
    margin: 0 auto 0 auto; /* Los numeros van mediante las manecillas de reloj, arriba, derecha, abajo, izquierda. o puede ser de esta forma: margin: 0 auto; y funciona totalmente igual*/
	height: 200px;
	
	
	
}

.site-hearder.inicio /* Estilos a las dos clases */
{
    background-image: url( "niño.jpg");
    height: 100vh; /* la imagen ocupa el 100% del dispositivo donde se vea */
    min-height: 600px;
    background-position: centro centro; /* pone la imagen del centro hacia afuera*/
    background-size: cover; /* forza a la imagen a utilizar el espacio desponible guardando proporcionalidad */
}

.site-hearder{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.contenido-header  
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header  h1
{
    color: lavender;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 54px;
}

.navegacion a
{
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-right: 80px;
    padding-bottom: 104px;   
}

.navegacion a:last-of-type   /* se selecciona el ultimo elemento*/
{
   margin: 0px;
}

.navegacion a:hover
{
    color: mediumaquamarine;
	
}


.secpein{
	width: 1200px;
	margin: 0px auto;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.imgprin{
	padding: 20px;
}
.imagen-contacto
{
    height: 200px;
	width: 200px;
	text-align: center;
}

.contenido-contacto
{
  height: 200px; /* factor de crecimiento */
    color: burlywood;
	background-image: url("2020100221150345741.jpg");
}
.contenido-contacto p
{
    font-size: 1.8rem;
}
.contenedorcontenido-contacto{
    width: 8px;
    height: 30px;
    
}
.boton
{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.boton-amarillo
{
    background-color: #E08709;
}

.boton-verde
{
    background-color: #71b100;
}
.tex{
    padding: 30px;
    color: black;
}
.seccion.imagen-contacto.seccion{
	height: 400px;
	width: 100%;
}
